<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forget password</title>

 
      <!-- css link -->
      {% include 'css.html' %}

</head>
<body>
    





<!-- Regsitration form -->

<div class="signup-otp-form p-5 mx-auto shadow-sm">

<!-- Message -->

{% if messages%}

{%for message in messages%}
<div class="container mt-3 message alert alert-{{message.tags}} text-center">{{message}}</div>
{%endfor%}

{%endif%}

    <h1 class="text-dark">Forget password</h1> <hr>
    <form method="POST"> {% csrf_token%}
        <input type="email" class="form-control" required name="email" placeholder="Enter your email address">
        <button class="btn custom-btn px-5 mt-2 shadow">Submit</button>
    </form>
</div>









<!-- js link -->
{% include 'js.html' %}
    
</body>
</html>